/*
Alexander Herrera
Project 3
*/
html {
	background-color:#003F87;
}
h1 {
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left:10px;
	padding: 5px;
	border: 10px ridge #607B8B;
	text-align: center;
	background-color:#33A1DE;
	color:#E9F5FB;
}
form fieldset #errorMessages {
	color: red;
	font-weight: bold;
}
h2 {
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 30px;
	margin-left:10px;
	padding: 5px;
	border: 6px ridge #8EA4B1;
	text-align: left;
	background-color: #33A1DE;	
	color: #F0F3f5;
}
fieldset {
	background-color: #8EA4B1;

}
legend h2{
	padding: 4px;
	color: #EBF5FA;
}
legend h3 {
	margin-top:20px;
}
div ul li {
	list-style-type: none;
}
#courseName {
	display: block;
}
#courseSection {
	display: block;
}
#topicAndSection {
	display: block;
}
#todaysDate {
	display: block;
}
#dueDate {
	display: block;
}
#noteSection {
	display: block;
}
a {
	margin-left: 5px;
	border: 2px solid #000000;
	padding: 2px;
	color: #000000;
	background-color: #BFCBD3;
}
article {
	margin-left: 10px;
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
	
}
nav [id='clear'] {
	border: 2px solid #000000;
	padding: 2px;
	color: #000000;
	background-color: #BFCBD3;
}
nav [id='display'] {
	margin-left: 5px;
	border: 2px solid #000000;
	padding: 2px;
	color: #000000;
	background-color: #BFCBD3;
}
nav [id='add'] {
	margin-left:5px;
	border: 2px solid #000000;
	padding: 2px;
	color: #000000;
	background-color: #BFCBD3;
}
div [id='editS'] {
	border: 2px solid #000000;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	color: #000000;
	background-color: #BFCBD3;
}
div [id='deleteS'] {
	border: 2px solid #000000;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	color: #000000;
	background-color: #BFCBD3;
}
